[submodule "externals/doctrine/doctrine2"]
	path = externals/doctrine/doctrine2
	url = https://github.com/doctrine/doctrine2.git
[submodule "externals/doctrine/common"]
	path = externals/doctrine/common
	url = https://github.com/doctrine/common.git
[submodule "externals/coen-hyde/Shanty-Mongo"]
	path = externals/coen-hyde/Shanty-Mongo
	url = https://github.com/coen-hyde/Shanty-Mongo.git
[submodule "externals/guilhermeblanco/ZF1-Doctrine2-ServiceLayer"]
	path = externals/guilhermeblanco/ZF1-Doctrine2-ServiceLayer
	url = https://github.com/doctrine/common.git
[submodule "externals/doctrine/dbal"]
	path = externals/doctrine/dbal
	url = https://github.com/doctrine/dbal.git
[submodule "externals/symfony/Yaml"]
	path = externals/symfony/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "externals/symfony/Console"]
	path = externals/symfony/Console
	url = https://github.com/symfony/Console.git
[submodule "externals/guilhermeblanco/ZendFramework1-Doctrine2"]
	path = externals/guilhermeblanco/ZendFramework1-Doctrine2
	url = https://github.com/guilhermeblanco/ZendFramework1-Doctrine2.git
[submodule "externals/doctrine/mongo-odm"]
	path = externals/doctrine/mongo-odm
	url = https://github.com/doctrine/mongodb-odm.git
[submodule "externals/doctrine/mongodb"]
	path = externals/doctrine/mongodb
	url = https://github.com/doctrine/mongodb.git
[submodule "externals/fabpot/dependency-injection"]
	path = externals/fabpot/dependency-injection
	url = https://github.com/fabpot/dependency-injection.git
