
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         strict="false"
         verbose="false">

    <testsuites>
        <testsuite name="Application">
            <directory>./tests/application/*Test.php</directory>
        </testsuite>
        <testsuite name="LexsignExtensions">
            <directory>./tests/library/LexsignExtensions/*Test.php</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../src/application/</directory>
            <directory suffix=".php">../src/library/LexsignExtensions</directory>
            <exclude>
                <directory suffix=".phtml">../src/application/</directory>
                <file>../src/application/Bootstrap.php</file>
                <file>../src/application/controllers/ErrorController.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/coverage" title="Name of Project"
      charset="UTF-8" yui="true" highlight="true"
      lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

</phpunit>
